.register {
    text-align: center;
    background: linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
    margin-top: 5rem;
    max-width: 50rem;
    border-radius: 1rem;
    margin-bottom: 6rem;

    .register__title {
        color: $heading-color;
        text-align: center;
        font-size: 4rem;
        font-family: 'Volkhov';
        padding-top: 3rem;
    }

    .register__form {

        .register__form__card {
            margin-bottom: 2rem;
        }

        input {
            border: 2px solid $heading-color;
        }

        .form__button--register {
             background: linear-gradient(90deg, hsla(18, 76%, 85%, 1) 0%, hsla(203, 69%, 84%, 1) 100%);
             color: $heading-color;
             border: 2px solid $heading-color;
             margin-bottom: 4rem;
        }
    }
}